/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

html {
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(142deg, #00FEFE 5.96%, #4F36B0 50.61%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
}

.btns {
    width: 150px;
    height: 150px;
    font-size: 35px;
    cursor: pointer;
    border-style: none;
}

.btnsDisable {
    pointer-events: none;
}


.label {
    font-size: 40px;
    margin-bottom: 50px;
}

#correctNum {
    margin-bottom: 50px;
    background-color: white;
}

#correctNum:disabled {
    color: black;
    cursor: auto;
}

.randomNums .btns {
    background-color: yellow;
    margin: 0 30px;
}

.randomNums {
    margin-bottom: 50px;
}

#reset {
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.7em;
    background: none;
    padding: 5px 20px;
    border: solid 2px white;
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: not-allowed;
}

#reset:disabled {
    color: gray;
    border-color: gray;
}

@media (max-width: 360px) {

    .label {
        font-size: 22px;
        margin-bottom: 50px;
    }

    #correctNum {
        margin-bottom: 50px;
        background-color: white;
    }

    .btns {
        width: 85px;
        height: 85px;
        font-size: 25px;
    }

    .randomNums .btns {
        background-color: yellow;
        margin: 0 3px;
    }

    #reset {
        font-size: 1.3em;
    }
}